Repository SergeyShk/ruTS: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, pytest, pytest-cov

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        args: ["--line-length", "100"]
        entry: pipenv run black
        types: [python]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        args: ["--profile", "black"]
        entry: pipenv run isort
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: pipenv run mypy --follow-imports silent
        types: [python]

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pipenv run pytest
        types: [python]
        pass_filenames: false
        exclude: setup.py

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: pipenv run pytest --cov ruts --cov-fail-under=70
        types: [python]
        pass_filenames: false
        exclude: setup.py

Добавлен Makefile
  .pre-commit-config.yaml
  Makefile
  setup.cfg
Due: none

Обновлены зависимости
  Pipfile
  Pipfile.lock
Due: none

Обновлен список зависимостей
  Pipfile.lock
Due: none

Обновлен список зависимостей
  .travis.yml
  Pipfile.lock
Due: none

Доработан набор данных полного собрания сочинений И.В. Сталина
  docs/datasets/stalinworks.md
  docs/index.md
  examples/Visualizers.ipynb
  mkdocs.yml
  ruts/datasets/stalin_works.py
  ruts/readability_stats.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Deployed b4ae22b with MkDocs version: 1.1.2
  404.html
  authors/index.html
  components/index.html
  datasets/sovchlit/index.html
  datasets/stalinworks/index.html
  extractors/sentences/index.html
  extractors/words/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  stats/basic_stats/index.html
  stats/diversity_stats/index.html
  stats/diversity_stats_funcs/index.html
  stats/morph_stats/index.html
  stats/readability_stats/index.html
  stats/readability_stats_funcs/index.html
  visualizers/zipf/index.html
Due: none

Доработаны тесты наборов данных
  Makefile
  ruts/datasets/sov_chrest_lit.py
  tests/datasets/test_dataset.py
  tests/datasets/test_sov_chrest_lit.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Доработаны тесты набора данных советских христоматий
  tests/datasets/test_sov_chrest_lit.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлен файл зависимостей
  Pipfile.lock
  tests/datasets/test_sov_chrest_lit.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлен файл зависимостей
  Pipfile
  Pipfile.lock
Due: none

Доработаны тесты наборов данных
  Pipfile
  Pipfile.lock
  ruts/datasets/stalin_works.py
  tests/datasets/test_stalin_works.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Deployed e402dc7 with MkDocs version: 1.1.2
  extractors/sentences/index.html
  extractors/words/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Обновлен модуль извлечения объектов
  README.en.md
  README.md
  docs/extractors/sentences.md
  docs/extractors/words.md
  ruts/extractors.py
  tests/test_extractors.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Доработаны основные модули
  docs/stats/basic_stats.md
  ruts/basic_stats.py
  ruts/diversity_stats.py
  ruts/morph_stats.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлен CI-конфиг
  .travis.yml
Due: none

Переход на поддержку Python 3.7-3.9
  Pipfile
  Pipfile.lock
  README.en.md
  README.md
  docs/installation.md
  setup.py
Due: black, isort, mypy

Deployed 15c359f with MkDocs version: 1.1.2
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  stats/basic_stats/index.html
Due: none

Добавлен прототип визуализации WordTree
  LICENSE.txt
  ruts/visualizers/__init__.py
  ruts/visualizers/word_tree.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлены dev-файлы
  Makefile
  setup.cfg
Due: none

Обновлены файлы зависимостей
  Pipfile
  Pipfile.lock
  setup.py
Due: black, isort, mypy

Обновлен модуль визуализации
  README.en.md
  README.md
  docs/visualizers/fingerprinting.md
  docs/visualizers/zipf.md
  ruts/visualizers/__init__.py
  ruts/visualizers/fingerprinting.py
  ruts/visualizers/word_tree.py
  ruts/visualizers/zipf.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлен модуль визуализации
  README.en.md
  README.md
  ruts/visualizers/fingerprinting.py
  ruts/visualizers/word_tree.py
  tests/datasets/test_stalin_works.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлена документация по модулю визуализации
  docs/img/wordtree.png
  docs/index.md
  docs/installation.md
  docs/visualizers/fingerprinting.md
  docs/visualizers/word_tree.md
Due: none

Deployed 687b69b with MkDocs version: 1.1.2
  img/wordtree.png
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  visualizers/word_tree/index.html
Due: none

Deployed 687b69b with MkDocs version: 1.1.2
  404.html
  authors/index.html
  components/index.html
  datasets/sovchlit/index.html
  datasets/stalinworks/index.html
  extractors/sentences/index.html
  extractors/words/index.html
  index.html
  installation/index.html
  sitemap.xml
  sitemap.xml.gz
  stats/basic_stats/index.html
  stats/diversity_stats/index.html
  stats/diversity_stats_funcs/index.html
  stats/morph_stats/index.html
  stats/readability_stats/index.html
  stats/readability_stats_funcs/index.html
  visualizers/fingerprinting/index.html
  visualizers/word_tree/index.html
  visualizers/zipf/index.html
Due: none

Исправление ошибки с токенизацией
  ruts/extractors.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлены тесты
  tests/datasets/test_dataset.py
  tests/datasets/test_sov_chrest_lit.py
  tests/datasets/test_stalin_works.py
  tests/test_basic_stats.py
  tests/test_diversity_stats.py
  tests/test_extractors.py
  tests/test_morph_stats.py
  tests/test_readability_stats.py
  tests/test_utils.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Разработаны тесты для визуализации Закон Ципфа
  tests/visualizers/__init__.py
  tests/visualizers/test_zipf.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Разработаны тесты для визуализации Литературная Дактилоскопия
  tests/visualizers/test_fingerprinting.py
  tests/visualizers/test_zipf.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Разработаны тесты для визуализации Дерево слов
  ruts/visualizers/word_tree.py
  tests/visualizers/test_word_tree.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

Обновлены тесты
  tests/visualizers/test_fingerprinting.py
  tests/visualizers/test_word_tree.py
  tests/visualizers/test_zipf.py
Due: black, isort, flake8, mypy, pytest, pytest-cov

ruTS 0.7.0
  .gitignore
  MANIFEST.in
  Makefile
  mkdocs.yml
  ruts/VERSION
Due: none

ruTS 0.7.0
  Pipfile
  Pipfile.lock
  docs/installation.md
  setup.py
Due: black, isort, mypy

Исправлено README
  README.en.md
  README.md
  docs/index.md
Due: none

Deployed c362db5 with MkDocs version: 1.1.2
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed c362db5 with MkDocs version: 1.1.2
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  stats/readability_stats_funcs/index.html
Due: none

Добавлены файлы для перехода на poetry
  .pre-commit-config.yaml
  MANIFEST.in
  Makefile
  Pipfile
  Pipfile.lock
  poetry.lock
  pyproject.toml
  ruts/VERSION
  setup.cfg
  setup.py
Due: black, isort, mypy

Обновлен файл Travis
  .pre-commit-config.yaml
  .travis.yml
Due: none
